body {
  background-color: #ccc;
  width: 600px;
  margin: auto;
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.selections {
  display: flex;
  justify-content: space-between;
  height: 30vh;
}

.selection {
  background: none;
  border: none;
  /* outline: none; */
  cursor: pointer;
  /* font-size: 5rem;
  transition: 100ms; */
}

.selection:hover {
  transform: scale(1.2);
}
.results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 1rem;
  max-height: 50vh;
  overflow-y: auto;
}

.result-score {
  margin-left: 0.1rem;
  font-size: 2rem;
  color: #333;
}

.result-selection {
  opacity: 0.5;
  font-size: 2rem;
}

.result-selection.winner {
  opacity: 1;
  font-size: 3rem;
}

.hand {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 10px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border-radius: 8px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}
.header {
  background-color: #333;
  color: white;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 30%;
  text-align: center;
  margin: auto;
}
.content h3 {
  font-size: x-large;
  font-weight: 700;
}
.footer button {
  margin: 10px;
  padding: 5px;
}

#chances {
  font-size: large;
  font-weight: 300;
}
